<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="yourLogger" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="console" />
        </Root>
        <root level="info">
        <appender-ref ref="console" />
    </root>
    </Loggers>
</Configuration>